   <div class="menu">
    <ul class="list">
        <li>
            <div class="user-info">
                <a class="image" href=""><img src="assets/images/profile_av.jpg" alt="User"></a>
                <div class="detail">
                    <h4>Egie Sugina</h4>
                    <small>Super Tampan</small>
                </div>
            </div>
        </li>
        <li class="kedip"><a routerLink="/home"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
        <li class="kedip"><a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-fire"></i><span>Apis</span></a>
            <ul class="ml-menu">
                <li><a routerLink="/apis/list">List</a></li>
                <li><a routerLink="/apis/form">Create</a></li>
            </ul>
        </li>
        <li class="kedip"><a  class="mega-menu" title="Sign Out"  (click)="logout()"><i class="zmdi zmdi-power"></i><span>Logoff</span></a></li>
    </ul>
</div>