<!-- <div class="container custom-container-2"> -->
  
  <!-- Show it when there is no employee 
    <div class="no-data text-center" *ngIf="LIST_APIS.length == 0">
      <p>There is no employee added yet!</p>
      <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
    </div>-->
    
    <!-- Employees list table, it hides when there is no employee 
      <div *ngIf="LIST_APIS.length !== 0">
        <h3 class="mb-3 text-center">Employees List</h3>-->
        <div class="body_scroll kedip">
          <div class="block-header">
            <div class="row">
              <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>List APIs</h2>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/home"><i class="zmdi zmdi-home"></i> Suropati</a></li>
                  <li class="breadcrumb-item"><a href="javascript:void(0);">Tables</a></li>
                  <li class="breadcrumb-item active">APIs</li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
              </div>
              
            </div>
          </div>
          <div class="container-fluid">
            <div class="row clearfix">
              <div class="col-lg-12">
                <div class="card">
                  <!-- <div class="header">
                    <h2><strong>Exportable</strong> Examples </h2>
                  </div> -->
                  <div class="body">
                    <div class="table-responsive" >
                      <!-- <table >
                        <thead>
                          <tr><th colspan="3">
                            <input (keyup)="search($event.target.value)" class="form-control form-control-sm" placeholder="Search Nama APIs" >
                          </th></tr>
                          <tr>
                            <th scope="col">Nama APIs</th>
                            <th scope="col">Source Server</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th scope="col">Nama APIs</th>
                            <th scope="col">Source Server</th>
                            <th scope="col"></th>
                          </tr>
                          <tr>
                            <th colspan="3"><pagination-controls  (pageChange)="p = $event"></pagination-controls></th>
                          </tr>
                          
                        </tfoot>
                        <tbody>
                          <tr *ngFor="let la of LIST_APIS | paginate: { itemsPerPage: 10, currentPage: p }" style="color: #8c8c8c">
                            <td>{{la.api_name}}</td>
                            <td>10.54.18.{{la.exeby}}</td>
                            <td><button></button></td>
                          </tr>
                        </tbody>
                      </table> -->
                      <mat-form-field fxFlex="100%">
                        <label for="">Search</label>
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" class="suckSearch">
                      </mat-form-field>
                      <mat-table #table [dataSource]="dataSource" matSort class="table table-bordered table-striped table-hover dataTable" style="color: #8c8c8c">
                        <ng-container matColumnDef="api_name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Name APIs </mat-header-cell>
                          <mat-cell *matCellDef="let element">{{element.api_name}}  </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="exeby">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Source Server </mat-header-cell>
                          <mat-cell *matCellDef="let element">10.54.18.{{element.exeby}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="code">
                          <th style="border: none;width: 100px;" mat-header-cell *matHeaderCellDef> Code </th>
                          <td style="background-color:transparent;border: none;width: 100px;" mat-cell *matCellDef="let element">
                            <button style="background-color: transparent;border:none"  (click)="redirectToDelete(element.id)">
                                <span class="badge badge-primary"><i class="zmdi zmdi-code-setting"></i></span>
                            </button>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="delete">
                            <th style="border: none" mat-header-cell *matHeaderCellDef> Edit </th>
                            <td style="background-color:transparent;border: none" mat-cell *matCellDef="let element">
                              <button style="background-color: transparent;border:none"  (click)="redirectToDelete(element.id)">
                                  <span class="badge badge-primary"><i class="zmdi zmdi-edit"></i></span>
                              </button>
                            </td>
                          </ng-container>
                        
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                      <mat-paginator [pageSize]="10"  [length]="100">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>