<div class="body_scroll kedip">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Create New API</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="zmdi zmdi-home"></i> Suropati</a></li>
                    <li class="breadcrumb-item active">Create New API</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <h2 class="card-inside-title">Nama API</h2>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nama API">
                                </div>
                            </div>
                        </div>
                        <h2 class="card-inside-title">Query</h2>
                        <textarea rows="4" class="form-control source-code" placeholder="Masukan Query ..."></textarea>
                        <h2 class="card-inside-title"></h2>
                        <div class="checkbox">
                            <input id="with_date" type="checkbox">
                            <label for="with_date">
                                With Date
                            </label>
                        </div>
                        <h2 class="card-inside-title">Exeby</h2>
                        <select class="selectpicker">
                            <option>212</option>
                            <option>100</option>
                        </select>
                        <h2 class="card-inside-title">Users</h2>
                        <select class="multi-select" multiple="multiple" id="my-select" name="my-select[]">
                            <option value='elem_1'>elem 1</option>
                            <option value='elem_2'>elem 2</option>
                            <option value='elem_3'>elem 3</option>
                            <option value='elem_4'>elem 4</option>
                            <option value='elem_100'>elem 100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- Textarea -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Textarea</strong></h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle"
                                    data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i
                                        class="zmdi zmdi-more"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else</a></li>
                                </ul>
                            </li>
                            <li class="remove">
                                <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <h2 class="card-inside-title">Basic Example</h2>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="4" class="form-control no-resize"
                                            placeholder="Please type what you want..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- {
  "api_id": 0,
  "api_name": "string",
  "sql_query": "string",
  "tgl_create": "string",
  "active": "string",
  "with_date": "string",
  "exeby": "string"
} -->
