<div class="page-loader-wrapper">
	<div class="loader">
		<div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/suropati-svg.svg" width="100" height="100" alt="Aero"></div>
		<p>Suropati</p>
	</div>
</div>
<ng-container *ngIf="currentUser; else authentication">
	<div class="overlay"></div>
	<aside id="leftsidebar" class="sidebar">
		<div class="navbar-brand">
			<img class=" ls-toggle-btn"  src="assets/images/suropati-svg.svg" width="30" alt="Aero">
			<a class=""><span class="m-l-10">Suropati APIs</span></a>
		</div>
		<app-header></app-header>
	</aside>
	<section class="content" *ngIf="currentUser">
		<router-outlet></router-outlet>
	</section>	
</ng-container>
<ng-template #authentication>
	<div class="authentication">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-12">
					<alert></alert>
					<router-outlet></router-outlet>
				</div>
				<div class="col-lg-8 col-sm-12">
					<div class="card">
						<img src="assets/images/signin.svg" alt="Sign In"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
