/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/scss/bootstrap"; */
@import "../node_modules/bootstrap-select/dist/css/bootstrap-select.css";
.ngx-pagination {
    margin-left: 20% !important;
    color: #2c2c2c !important;
    font-size: 14px !important;
    border: 0 !important;
    border-radius: 30px !important;
    padding: 0px 11px !important;
    margin: 0 3px !important;
    min-width: 30px !important;
    text-align: center!important;
    height: 30px !important;
    line-height: 30px !important;
    cursor: pointer !important;
    text-transform: uppercase !important;
    background: transparent !important;
}
.ngx-pagination .current {
    padding: 0px 11px !important;
    background: #2199e8;
    color: #fefefe;
    cursor: default;
    border-radius: 30px !important;
}
.ngx-pagination a:hover {
    padding: 0px 11px !important;
    border-radius: 30px !important;
}
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
}
 
th.mat-header-cell {
    text-align: left;
    max-width: 300px;
}
.mat-input-element {
    font: inherit;
    background:#2c2c2c !important;
    color: currentColor;
    border: 10px !important;
    border-bottom-color: #fefefe  !important;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
}
button:hover, input:hover, select:hover, a:hover {
    text-decoration: none !important;
}
.mat-button .mat-button-wrapper>*, .mat-fab .mat-button-wrapper>*, .mat-flat-button .mat-button-wrapper>*, .mat-icon-button .mat-button-wrapper>*, .mat-mini-fab .mat-button-wrapper>*, .mat-raised-button .mat-button-wrapper>*, .mat-stroked-button .mat-button-wrapper>* {
    vertical-align: none !important;
}
mat-form-field {
    margin-right: 12px;
  }